@font-face {
    font-family: Typ;
    src: url(ufonts.com_american-typewriter.ttf);
}

* {
  font-family: Typ;
  color: #deff26;
}

h2, p, form{
  text-align: center;
}

#theImgCon {
  margin: 0 auto;
}

img {
  margin: 0 auto;
  display:block;
}

.center {
  text-align: center;
  margin: 0 auto;
  line-height: 14px;
}

input{
  margin: 0 5px;
}

input[type=button]
{
  background-color: #FF6788; 
  color: black;
}

input[type=button]:hover
{
  background-color: #deff26
}

body {
  background-color: rgba(22,22,52,.8);
  background-size: cover;
  line-height: 20px;
  /*background-image: url(theImg.jpg);*/
}

a{
  color: #FF6788; /*#FF6700*/
  text-decoration: none;
}

a:hover  {
  color: #deff26; /*#DD0048*/
}